/*utilities*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  position: relative;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px;
  caret-color: #59a5b1;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn-primary {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(0.98);
  transition: 0.5s;
}

/* backgrounds and buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: white;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: rgb(0, 0, 0);
}

.bg-custom,
.btn-custom {
  background-color: #59a5b1;
}
.bg-custom2,
.btn-custom2 {
  background-color: #585f5f;
}
.bg-primary a,
.btn-primary a,
.bg-dark a,
.btn-dark a,
.bg-secondary a,
.btn-secondary a {
  color: white;
}
/* text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xtra {
  font: 3.5rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/*font*/
.font-1 {
  font-size: 18px;
}
/* Margin */
.my-1 {
  margin: 0.1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.card1 {
  background-color: var(--primary-color);
  color: black;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  caret-color: #373f51;
}

.card1 h3 {
  color: white;
}
